.colorTheme,
.pricepage {
    text-decoration: underline;
    transition: .3s ease-in-out
}

.btn.bg-theme-blue:hover,
.btn.bg-theme-white:hover,
.colorTheme,
.pricepage {
    transition: .3s ease-in-out
}

.font-25 {
    font-size: 25px
}

.font-30 {
    font-size: 30px
}

.copun-field {
    padding: 30px
}

.border-theme {
    border: 1px solid #064877
}

#modalCoupon .modal-content {
    background-color: #064877;
    border-radius: 20px;
    padding-bottom: 20px
}

input[type=number] {
    -webkit-appearance: none
}

.font-glacial {
    font-family: custom !important
}

.font-34,
.font-40,
.font-45 {
    font-family: custom
}

.con-1180 {
    max-width: 1180px
}

.font-45 {
    font-size: 45px
}

.font-40 {
    font-size: 40px
}

.font-34 {
    font-size: 34px
}

.font-15 {
    font-size: 15px;
    line-height: 28px
}

.font-14 {
    font-size: 14px;
    margin: 20px
}

.font-20 {
    font-size: 20px
}

.text-grey {
    color: #6e6e6e
}

.font-w-300 {
    font-weight: 300
}

.let-spac-3 {
    letter-spacing: 3px
}

body .sec-58vh {
    height: 75vh
}

.ser-book-master-sec .card {
    height: 100%
}

.ser-book-master-sec .card-body {
    margin-top: -56px
}

.grayHeader {
    background-color: #064877;
    overflow: hidden IM !important
}

.navBar {
    background-color: transparent;
    top: 47px
}

.navBar.sticky {
    top: 0
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1em;
    font-weight: 300
}

@media(max-width:991px) {
    .mobileNavBar {
        background: #064877;
        padding: 14px
    }

    .navBar {
        top: 0
    }
}

.section1,
.section2 {
    background-repeat: no-repeat
}

.section1,
.section2,
.section3 {
    background-size: cover
}

.sticky {
    background-color: #064877c9;
    top: 0;
    animation: .5s sticky
}

@keyframes sticky {
    0% {
        margin-top: -100px
    }

    100% {
        margin-top: 0
    }
}

* {
    font-family: Conv_GraphikBold
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize
}

.section,
section {
    padding: 70px 0;
    position: relative
}

.section1 {
    color: #fff;
    background-position: center;
    height: 60vh
}

.mainH1 {
    font-size: 56px;
    font-weight: 600;
    font-family: Raleway, 'sans-serif';
    margin: 24px 11px 12px 15px;
    text-transform: uppercase;
    font-style: normal
}

#modalForDiscount .modal-content .mainH1,
#modalForOrder .modal-content .mainH1,
.h2Heading {
    font-size: 45px
}

.btn-theme,
.h2Heading {
    text-transform: capitalize
}

.h2Heading {
    font-weight: 600;
    text-shadow: 1px 0 0 #000
}

.h3Heading {
    font-size: 26px;
    font-weight: 900
}

.h4Heading {
    font-size: 28px;
    font-weight: 900;
    font-family: Arsenal
}

.h5Heading {
    font-size: 16px;
    font-weight: 700;
    font-family: Arsenal !important
}

.para,
.parablack {
    line-height: 32px;
    font-family: Arsenal
}

body>section.sectionFour>div>div.row.text-center.mt-2>div>div>div>div.flip-card-back.d-flex.align-items-center>p {
    font-size: 19px
}

.h6Heading {
    color: #fff;
    font-size: 23px
}

.para {
    color: #000;
    font-size: 18px
}

.parablack {
    color: #fff;
    font-size: 20px
}

@media(max-width:767px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 13px
    }

    body .sec-58vh {
        height: 80vh
    }

    .para {
        text-align: center
    }
}

.btn-theme {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    color: #fff
}

.bg-theme-blue {
    background-color: #064877
}

.btn.bg-theme-blue:hover {
    color: #fff;
    background-color: #064877
}

.bg-theme-white {
    color: #064877;
    background-color: #fff;
    letter-spacing: 2px;
    font-weight: 600
}

.btn.bg-theme-white:hover {
    color: #064877;
    background-color: #fff
}

.hrBlue {
    width: 200px
}

.colorTheme {
    color: #fff
}

.pricepage {
    color: #000
}

.section6 {
    background-color: #064877;
    color: #fff;
    text-align: center
}

.section7 {
    background-color: #f7f7f7
}

.footer-img {
    max-width: 300px
}

.border-radius-20,
.roundedBtn {
    border-radius: 20px
}

.btn-white {
    background-color: #fff;
    color: #000
}

.modalClose {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #fff;
    z-index: 999
}

#modalForDiscount .modal-content {
    background: url('../img/popup.jpg') center/cover no-repeat;
    padding-bottom: 25px;
    border-radius: 50px
}

@media(max-width:1200px) {
    #modalForDiscount .modal-content {
        background: #064877
    }
}

.cursor-pointer {
    cursor: pointer
}

#modalForDiscount .modal-para,
#modalForOrder .modal-para {
    font-size: 19px;
    margin-bottom: 50px
}

#modalForDiscount .modal-fom .form-control,
#modalForOrder .modal-fom .form-control {
    height: 45px;
    margin-bottom: 22.5px
}

#modalForDiscount .modal-fom textarea.form-control,
#modalForOrder .modal-fom textarea.form-control {
    height: 180px
}

#modalForDiscount .btn-modal,
#modalForOrder .btn-modal {
    font-size: 17px;
    background: #000;
    color: #fff;
    letter-spacing: 1px
}

#modalForDiscount .modal-check-para,
#modalForOrder .modal-check-para {
    font-size: 14px;
    margin-bottom: 25px;
    display: inline-block
}

@media(max-width:1000px) {
    #modalForOrder .modal-content {
        background: #39409b
    }
}

.close {
    color: #fff !important
}

@media only screen and (max-width:768px) {
    .text-center {
        text-align: center !important
    }

    .get-in {
        font-size: 15px !important;
        margin-top: 23px
    }

    .call-details {
        font-size: 13px
    }

    .our-expert {
        font-size: 15px !important
    }
}

@media only screen and (max-width:425px) {
    .child-box {
        width: 328px
    }
}

@media only screen and (max-width:767px) {
    .h3Heading {
        font-size: 18px
    }

    .mainH1::after {
        box-sizing: border-box
    }

    .img-cc {
        display: none
    }

    .p-5 {
        padding: 2rem !important
    }

    .btn-theme {
        font-size: 12px;
        padding: 8px 15px
    }

    .child-box {
        margin-top: 6px;
        border: 1px solid #000;
        border-radius: 38px;
        background-color: #fff;
        color: #000;
        display: block
    }

    .get-in {
        font-size: 23px;
        margin-top: -13px
    }

    .text-center {
        text-align: center !important
    }

    .mb-3,
    .my-3 {
        margin-bottom: 10px !important
    }

    .form-control- {
        height: 36px;
        width: 100%;
        border-radius: 10px
    }

    .section2picture img {
        margin-top: -35px;
        box-shadow: none
    }

    .mainH1 {
        font-size: 26px;
        text-align: center;
        margin-top: 23px
    }

    .h6Heading {
        font-size: 14px
    }

    .owl-carousel .owl-item img {
        width: 100% !important
    }

    .footer-img {
        max-width: 220px
    }

    .section2 .btn-theme {
        padding: 8px;
        margin: 0 auto;
        display: inline-block
    }

    #owl-demo .item .row .p-5 {
        padding: 2rem 2rem 1rem !important;
        text-align: center
    }

    #owl-demo .item .btn-theme {
        margin: auto;
        display: inherit
    }

    .section,
    section {
        padding: 35px 0 !important;
        position: relative
    }
}

.catOnMenu,
.contentRightDes p,
.dropdown-content a,
.headingOnMenu {
    text-align: left
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    top: 50px;
    width: 680px;
    z-index: 1;
    box-shadow: 6px 6px 70px #0009
}

.dropdown-content .rowForCat {
    padding: 33px
}

.headingOnMenu {
    font-size: 22px;
    font-family: Nunitio, sans-serif
}

.catOnMenu {
    font-size: 20px;
    font-family: Nunito, sans-serif;
    font-weight: 800;
    color: #064877
}

.dropdown-content a:hover {
    text-decoration: none;
    color: #064877
}

.dropdown-content a {
    display: block;
    color: #000
}

.dropdown-content .header {
    background: #064877;
    padding: 16px;
    color: #fff
}

.dropdown:hover .dropdown-content,
.web-header .nav-item:hover .dropdown-content {
    display: block
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.contentRightDes {
    padding: 10px
}

.web-header ul li ul {
    padding: 0
}

.web-header ul li ul li {
    line-height: 20px;
    display: flex
}

.web-header ul li ul li i {
    font-size: 8px
}

.web-header ul li ul li a,
body>section.comp-section>img {
    width: 100%
}

.web-header ul li ul li p span {
    font-size: 20px;
    font-weight: 700;
    color: #064877;
    line-height: 40px
}

.web-header ul li ul li p {
    display: none;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    right: 0;
    max-width: 70%;
    padding-left: 20px;
    text-transform: initial;
    text-align: left;
    padding-right: 50px;
    top: 25%
}

.web-header ul li ul li:hover p {
    display: block;
    transition: .3s ease-in-out
}

@media(max-width:1082px) {
    .dropdown-content {
        display: none !important
    }
}

@media(max-width:1199px) {
    .para {
        font-size: 14px
    }

    @media(max-width:767px) {

        .font-15,
        .font-20,
        .font-40,
        .font-45,
        .h2Heading {
            text-align: center
        }

        #navbar>div>nav>a {
            width: 50%
        }

        .navbar-nav {
            background-color: #064877;
            padding: 10px
        }

        .h2Heading {
            font-size: 24px;
            font-weight: 600
        }

        .h4Heading {
            font-size: 18px;
            font-weight: 600
        }

        section {
            padding: 15px 0
        }

        .btn-modal {
            padding: 14px 35px
        }

        .font-40,
        .font-45 {
            font-size: 28px
        }

        .font-15 {
            line-height: 22px
        }

        .font-20 {
            font-size: 17px
        }
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
    }

    .navbar-light .navbar-toggler {
        border: 1px solid #fff
    }
}

.backlink {
    color: #064877
}

.backlink:hover {
    text-decoration: none;
    color: #454ab6
}

.btn {
    font-weight: 600;
}
img.banner_img {
    margin-top: -89px;
}

.first-color {
    color: #064877
}

.floating_wrap .btns_wrap .call_wrap span.icoo,
.floating_wrap .btns_wrap .chat_wrap span.icoo {
    color: #fff;
    background: #064877;
    font-size: 20px;
    line-height: 1;
    padding: 14px 20px;
    border-right: 1px solid #ded9d9;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50px 0 0 50px
}

.floating_wrap .btns_wrap .chat_wrap span {
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
    background: #064877;
    padding: 15px 30px 15px 15px
}

.floating_wrap .btns_wrap .chat_wrap {
    display: block;
    position: absolute;
    right: -225px;
    width: 275px;
    background: #064877;
    top: 0;
    border-radius: 50px 0 0 50px;
    overflow: hidden;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.floating_wrap .btns_wrap .call_wrap span {
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
    background: #064877;
    padding: 15px 20px 15px 15px
}

.floating_wrap .btns_wrap a:hover {
    text-decoration: none !important;
    right: 0
}

.floating_wrap .btns_wrap .call_wrap {
    width: 275px;
    position: absolute;
    right: -225px;
    background: #064877;
    top: 60px;
    border-radius: 50px 0 0 50px;
    overflow: hidden;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.floating_wrap {
    position: fixed;
    right: 0;
    top: 140px;
    z-index: 99
}

.floating_wrap .btns_wrap {
    position: fixed;
    right: 0
}

.floatbutton.visible .buttonclick,
.floating_wrap,
.floating_wrap.visible {
    opacity: 1;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.floatbutton {
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    position: fixed;
    right: -370px;
    top: 265px;
    font-size: 0;
    width: 420px;
    z-index: 99
}

.floatbutton .buttonclick .crossplus,
.floatbutton .buttonclick .crossplus.rotate {
    transform: rotate(-90deg);
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s
}

.floatbutton .buttonclick {
    width: 50px;
    z-index: 99;
    opacity: 1;
    vertical-align: top;
    height: 0;
    cursor: pointer;
    border-radius: 50% 0 0 50%;
    background: #064877;
    display: inline-block;
    padding-top: 0
}

.floatbutton .buttonclick .crossplus {
    position: relative;
    display: block;
    transition: .4s
}

.floatbutton .buttonclick .crossplus.rotate {
    transition: .4s
}

.floatbutton .buttonclick .crossplus p {
    font-size: 20px;
    width: 250px;
    top: 0;
    position: relative;
    margin-top: 194px;
    background: #064877;
    height: 55px;
    border-radius: 20px 20px 0 0;
    padding-top: 15px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    left: -4px
}

.crossplus p a:hover {
    color: #fff
}

.floatbutton.active {
    right: 0;
    z-index: 9;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.icon-chat:before {
    content: "\f086"
}

.icon-phone2:before {
    content: "\f0e0"
}

@media only screen and (max-width:767px) and (min-width:0px) {

    .floatbutton,
    .floating_wrap {
        display: none !important
    }
}

@media screen and (max-width:1200px) {

    .navbar-light .navbar-nav .nav-link,
    header p {
        font-size: 12px
    }
}

@media screen and (max-width:768px) {
    #titles {
        text-align: center
    }
}

@media screen and (max-width:600px) {
    .center-dv {
        display: flex;
        justify-content: center
    }

    .textCenter {
        text-align: center
    }
}